@using Hikkaba.Web.ViewModels
@model Hikkaba.Web.ViewModels.SearchViewModels.SearchResultViewModel

@{
    ViewData["Title"] = $"Search for «{Model?.Query}» - {Model?.Posts?.TotalItemsCount} results";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        @if ((Model?.Posts != null) && (Model.Posts.TotalItemsCount > 0) && (Model.Posts.CurrentPage.PageNumber > 0))
        {
            @Html.DisplayFor(model => model.Posts.CurrentPageItems)
            <partial name="_PagerPartial" model="new PageInfoViewModel
                                            {
                                                CurrentPageNumber = Model.Posts.CurrentPage.PageNumber,
                                                TotalPageCount = Model.Posts.TotalPageCount,
                                            }"/>
        }
        else
        {
            <p class="text-center">Nothing found.</p>
        }
    </div>
</div>