@using Hikkaba.Web.ViewModels
@model Hikkaba.Web.ViewModels.SearchViewModels.PostSearchResultViewModel

@{
    ViewData["Title"] = $"Search for «{Model.Query}» - {Model.Posts.TotalItemCount} results";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        @if (Model.Posts is { TotalItemCount: > 0, PageNumber: > 0, Data.Count: > 0 })
        {
            <div class="container">
              @for (var i = 0; i < Model.Posts.Data.Count; i++)
              {
                <div class="mt-4 mb-4">
                  @Html.DisplayFor(m => m.Posts.Data[i])
                </div>
              }
            </div>

            <partial name="_PagerPartial" model="@(new PageInfoViewModel
                                                 {
                                                   CurrentPageNumber = Model.Posts.PageNumber,
                                                   TotalPageCount = Model.Posts.TotalPageCount ?? 0,
                                                 })"/>
        }
        else
        {
            <p class="text-center">No results found.</p>
        }
    </div>
</div>
