@model int

@{
    var statusCode = Model;
    string statusMessage;
    switch (statusCode)
    {
        case 400:
            statusMessage = "Bad request";
            break;
        case 403:
            statusMessage = "Forbidden";
            break;
        case 404:
            statusMessage = "Page not found";
            break;
        case 408:
            statusMessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusMessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusMessage = "That’s odd... Something we didn't expect happened";
            break;
    }
}

<div class="jumbotron">
    <h1>Error @Model</h1>
    <h3>@statusMessage</h3>
</div>