@model Hikkaba.Web.ViewModels.BoardViewModels.BoardViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<input asp-for="Id" type="hidden" />

@Html.EditorFor(m => m.Name, "StringEditViewModel")
