@using Hikkaba.Shared.Enums
@model Hikkaba.Web.ViewModels.BansViewModels.BanCreateViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
  <label asp-for="EndsAt" class="col-md-2 control-label"></label>
  <div class="col-md-10 input-group date datetimepicker-enabled">
    <input asp-for="EndsAt" class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
    <span asp-validation-for="EndsAt" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
  <label asp-for="BanByNetwork" class="col-md-2 control-label"></label>
  <div class="col-md-10">
    <input asp-for="BanByNetwork" class="form-control" disabled="@(!Model.AutonomousSystemNumber.HasValue)" />
    <span asp-validation-for="BanByNetwork" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
  <label asp-for="BanInAllCategories" class="col-md-2 control-label"></label>
  <div class="col-md-10">
    <input asp-for="BanInAllCategories" class="form-control" />
    <span asp-validation-for="BanInAllCategories" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
  <label asp-for="AdditionalAction" class="col-md-2 control-label"></label>
  <div class="col-md-10">
    @Html.DropDownListFor(m => m.AdditionalAction, Html.GetEnumSelectList<BanAdditionalAction>(), new { @class = "form-control" })
    <span asp-validation-for="AdditionalAction" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
  <label asp-for="Reason" class="col-md-2 control-label"></label>
  <div class="col-md-10">
    <input asp-for="Reason" class="form-control" />
    <span asp-validation-for="Reason" class="text-danger"></span>
  </div>
</div>

<input asp-for="BannedIpAddress" type="hidden" />
<input asp-for="CategoryAlias" type="hidden" />
<input asp-for="RelatedThreadId" type="hidden" />
<input asp-for="RelatedPostId" type="hidden" />
