@model Hikkaba.Web.ViewModels.BansViewModels.BanViewModel
@{
    ViewData["Title"] = $"Edit ban";
}

<form asp-controller="Bans" asp-action="Edit" method="post" class="form-horizontal" enctype="multipart/form-data">
    <h4>@ViewData["Title"]</h4>
    <hr />

    @Html.EditorFor(model => model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
