@model Hikkaba.Web.ViewModels.CategoriesViewModels.CategoryDetailsViewModel

<div class="col">
  <div class="list-item">
    <b>
      <a class="decoration-on-hover" href="@Url.Action("Details", "Categories", new {categoryAlias = Model.Alias})">/@Model.Alias - @Model.Name</a>
    </b>
  </div>
</div>
