@using Hikkaba.Common.Constants
@model Hikkaba.Web.ViewModels.PostsViewModels.PostAnonymousCreateViewModel

<form asp-controller="Posts" asp-action="Create" asp-route-categoryAlias="@Model.CategoryAlias" asp-route-threadId="@Model.ThreadId" method="post" class="form-horizontal" enctype="multipart/form-data" id="@Defaults.HtmlNewPostFormId">
    <h4>Reply to thread</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ThreadId" type="hidden" />
    
    <div class="form-group">
        <label asp-for="IsSageEnabled" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IsSageEnabled" class="form-control" />
            <span asp-validation-for="IsSageEnabled" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <partial name="_MarkupPanelPartial" model="@nameof(Model.Message)"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Message" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Attachments" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Attachments" class="form-control" />
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col col-md-2 control-label">
            Security code
        </label>
        <div class="controls col col-md-10">
            <dnt-captcha asp-captcha-generator-max="9000"
                         asp-captcha-generator-min="1"
                         asp-captcha-generator-language="English"
                         asp-captcha-generator-display-mode="ShowDigits"
                         asp-use-relative-urls="true"
                         asp-placeholder="Security code as a number"
                         asp-validation-error-message="Please enter the security code as a number."
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="black"
                         asp-back-color="#ccc"
                         asp-text-box-class="text-box single-line form-control col-md-4"
                         asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                         asp-validation-message-class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Post</button>
        </div>
    </div>
</form>
