@using Hikkaba.Web.ViewModels.PostsViewModels
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadAggregationViewModel
@{
    ViewData["Title"] = $"{Model.Thread.Title} - {Model.Category.Name}";
}

<h2 class="text-center">/@Model.Category.Alias - @Model.Category.Name</h2>
<hr />

@Html.DisplayFor(model => model)

@if (!Model.Thread.IsClosed)
{
    <partial name="_ReplyForm" model="@(new PostAnonymousCreateViewModel
    {
      IsSageEnabled = false,
      Message = string.Empty,
      Attachments = new FormFileCollection(),
      ThreadId = Model.Thread.Id,
      CategoryAlias = Model.Category.Alias,
      CategoryName = Model.Category.Name,
    })"/>
}
