@using Hikkaba.Web.ViewModels.PostsViewModels
@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Title} - {Model.CategoryName}";
}

<h2 class="text-center">/@Model.CategoryAlias - @Model.CategoryName</h2>
<hr />

@Html.DisplayFor(model => model)

@if (!Model.IsClosed)
{
    <partial name="_ReplyForm" model="new PostAnonymousCreateViewModel { ThreadId = Model.Id, CategoryAlias = Model.CategoryAlias }"/>
}
