@model Hikkaba.Web.ViewModels.BoardViewModels.BoardViewModel

@{
    ViewData["Title"] = $"Edit imageboard";
}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <form asp-route="BoardEditConfirm" method="post" class="form-horizontal">
      <h4>@ViewData["Title"]</h4>

      <a class="decoration-on-hover" href="@Url.RouteUrl("AdminDashboard")">
        <i class="bi bi-chevron-left"></i> Back to dashboard
      </a>

      <hr />

      <div class="mb-3">
        @Html.EditorFor(model => model)
      </div>

      <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </form>
  </div>
</div>
