@using System.Threading.Tasks
@using Hikkaba.Web.ViewModels
@model Hikkaba.Web.ViewModels.SearchResultViewModel

@{
    ViewData["Title"] = "Search for «" + @Model.Query + "»";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        @if ((Model.Posts.TotalItemsCount > 0) && (Model.Posts.CurrentPage.PageNumber > 0))
        {
            @Html.DisplayFor(model => model.Posts.CurrentPageItems)
            @Html.Partial("_PagerPartial", new PageInfoViewModel()
                                           {
                                               CurrentPageNumber = Model.Posts.CurrentPage.PageNumber,
                                               TotalPageCount = Model.Posts.TotalPageCount
                                           }
            )
        }
        else
        {
            <p class="text-center">Nothing found.</p>
        }
    </div>
</div>