@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger visible-line-breaks" role="alert">@if (string.IsNullOrWhiteSpace(ViewBag.ErrorMessage)){@("Unknown error")}else{@ViewBag.ErrorMessage}</div>
}