@using Hikkaba.Web.ViewModels.AdministrationViewModels
@model Hikkaba.Web.ViewModels.AdministrationViewModels.ApplicationUserViewModel

<li class="list-group-item col-xs-6 col-sm-4 col-md-3 borderless">
    @Model.UserName
</li>