@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadAnonymousCreateViewModel
@{
    ViewData["Title"] = $"Create a new thread in the category «{Model.CategoryName}»";
}

@Html.Partial("_ErrorMessagePartial")

<form asp-controller="Threads" asp-action="Create" asp-route-categoryAlias="@Model.CategoryAlias" method="post" class="form-horizontal" enctype="multipart/form-data">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <input asp-for="CategoryAlias" type="hidden" />

    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Message" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Attachments" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Attachments" class="form-control" />
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col col-md-2 control-label">
            Security code
        </label>
        <div class="controls col col-md-10">
            <dnt-captcha asp-captcha-generator-max="9000"
                         asp-captcha-generator-min="1"
                         asp-captcha-generator-language="English"
                         asp-placeholder="Security code as a number"
                         asp-validation-error-message="Please enter the security code as a number."
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="black"
                         asp-back-color="#ccc"
                         asp-text-box-class="text-box single-line form-control col-md-4"
                         asp-text-box-template="<div class='input-group col-md-4'><span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>{0}</div>"
                         asp-validation-message-class="text-danger"
                         asp-area-name="" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}