@using Hikkaba.Infrastructure.Models.Configuration
@using Hikkaba.Web.Utils
@using Microsoft.Extensions.Options
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.AudioViewModel
@inject IOptions<HikkabaConfiguration> Settings

@{
    var fileSizeString = FileSizeUtils.Humanize(Model.FileSize);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}";
}

<li>
    <div>
        <p><a href="@Url.Action("Get", "Attachments", new { containerName = Model.BlobContainerId.ToString(), blobName = Model.BlobId.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" download="@Model.BlobId.ToString().@Model.FileExtension">@filePropertiesString</a></p>
        <audio src="@Url.Action("Get", "Attachments", new { containerName = Model.BlobContainerId.ToString(), blobName = Model.BlobId.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" controls="controls">
            Audio (@filePropertiesString)
        </audio>
    </div>
</li>
