@using Hikkaba.Web.Utils
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.DocumentViewModel

@{
    var fileSizeString = FileSizeStringifier.Stringify(Model.Size);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}";
}

<li>
    <div>
        <a href="@Url.Action("Get", "Attachments", new { containerName = Model.ThreadId.ToString(), blobName = Model.Id.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" download="@Model.Id.ToString().@Model.FileExtension" class="btn btn-default">Document (@filePropertiesString)</a>
    </div>
</li>