@using Hikkaba.Web.Utils
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.DocumentViewModel

@{
    var fileSizeString = FileSizeUtils.Humanize(Model.FileSize);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}";
}

<li>
    <div>
        <a href="@Url.Action("Get", "Attachments", new { containerName = Model.BlobContainerId.ToString(), blobName = Model.BlobId.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" download="@Model.BlobId.ToString().@Model.FileExtension" class="btn btn-default">Document @(filePropertiesString)</a>
    </div>
</li>
