@using Hikkaba.Web.Utils
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.DocumentViewModel

@{
    var fileSizeString = FileSizeUtils.Humanize(Model.FileSize);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}";
}

<div class="attachment-flex-item">
  <a class="decoration-on-hover" href="@Url.RouteUrl("AttachmentsGet", new { blobContainerId = Model.BlobContainerId.ToString(), blobId = Model.BlobId.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" download="@Model.BlobId.ToString().@Model.FileExtension" class="btn btn-default">Document @(filePropertiesString)</a>
</div>
