[*.cs]
# CS1998: Async method lacks 'await' operators and will run synchronously
# Reason: sometimes we need to have async mocks
dotnet_diagnostic.CS1998.severity = suggestion

# CA1848: For improved performance, use the LoggerMessage delegates instead of calling 'LoggerExtensions.LogDebug(ILogger, string?, params object?[])'
# Reason: it could be too verbose to use it everywhere, but this is a good reminder
dotnet_diagnostic.CA1848.severity = suggestion

# CA1716: Rename namespace Shared.Constants so that it no longer conflicts with the reserved language keyword 'Shared'.
# Using a reserved keyword as the name of a namespace makes it harder for consumers in other languages to use the namespace.
# Reason: we decided to keep it as is for now
dotnet_diagnostic.CA1716.severity = suggestion

# CA1822: Member 'GetPagedResult' does not access instance data and can be marked as static
# Reason: it may be more convenient to preserve a method as non-static
dotnet_diagnostic.CA1822.severity = suggestion

# SA1600: Elements should be documented
# Reason: it doesn't respect internal modifier
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
# Reason: it doesn't respect internal modifier
dotnet_diagnostic.SA1602.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1633: The file header is missing or not located at the top of the file.
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none

# SA1000: The keyword 'new' should be followed by a space.
dotnet_diagnostic.SA1000.severity = none

# SA1208: Using directive for 'System.Collections.Generic' should appear before directive for 'Microsoft.AspNetCore.Identity'
dotnet_diagnostic.SA1208.severity = none

# SA1309: Field '_address' should not begin with an underscore
dotnet_diagnostic.SA1309.severity = none

# SA1206: The 'required' modifier should appear before 'public'
dotnet_diagnostic.SA1206.severity = none

# S1135 Complete the task associated to this 'T O D O' comment.
dotnet_diagnostic.S1135.severity = suggestion

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1210: Using directives should be ordered alphabetically by the namespaces.
dotnet_diagnostic.SA1210.severity = none

# RCS1194: Implement exception constructors.
dotnet_diagnostic.RCS1194.severity = suggestion

# S3925: Update this implementation of 'ISerializable' to conform to the recommended serialization pattern.
dotnet_diagnostic.S3925.severity = suggestion

# SA1111: Closing parenthesis should be on line of last parameter
# Reason: sometimes it's more readable to have a line break before closing parenthesis
dotnet_diagnostic.SA1111.severity = none

# SA1009: Closing parenthesis should not be preceded by a space.
# Reason: sometimes it's more readable to have a line break before closing parenthesis
dotnet_diagnostic.SA1009.severity = none

# SA1110: Opening parenthesis or bracket should be on declaration line.
dotnet_diagnostic.SA1110.severity = error

# SA1129: Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = suggestion

# SA1026: The keyword 'new' should not be followed by a space or a blank line.
dotnet_diagnostic.SA1026.severity = suggestion

# SA1116: The parameters should begin on the line after the declaration,
# whenever the parameter span across multiple lines
dotnet_diagnostic.SA1116.severity = none

# S1450: Remove the field '_consumer' and declare it as a local variable in the relevant methods.
dotnet_diagnostic.S1450.severity = suggestion

# SA1209: Using alias directives should be placed after all using namespace directives.
dotnet_diagnostic.SA1209.severity = suggestion

# S3358: Extract this nested ternary operation into an independent statement.
dotnet_diagnostic.S3358.severity = suggestion

# S3267: Loops should be simplified with "LINQ" expressions
# Reason: resulting code is less readable
dotnet_diagnostic.S3267.severity = none

# S1199: Extract this nested code block into a separate method.
dotnet_diagnostic.S1199.severity = suggestion

# RCS0027: Place new line after/before binary operator
dotnet_diagnostic.RCS0027.severity = error

# RCS0028: Place new line after/before '?:' operator
dotnet_diagnostic.RCS0028.severity = error

# RCS0054: Fix formatting of a call chain
# Reason: sometimes it fails to format correctly
dotnet_diagnostic.RCS0054.severity = suggestion

# RCS0059: Place new line after/before null-conditional operator
dotnet_diagnostic.RCS0059.severity = error

# ROS0003: Analyzer requires config option to be specified.
dotnet_diagnostic.ROS0003.severity = warning

# RCS1006: Merge 'else' with nested 'if'
dotnet_diagnostic.RCS1006.severity = error

# RCS1013: Use predefined type
dotnet_diagnostic.RCS1013.severity = error

# RCS1019: Order modifiers
dotnet_diagnostic.RCS1019.severity = error

# RCS1113: Use 'string.IsNullOrEmpty' method
dotnet_diagnostic.RCS1113.severity = error

# RCS1190: Join string expressions
dotnet_diagnostic.RCS1190.severity = error

# RCS1197: Optimize StringBuilder.Append/AppendLine call
dotnet_diagnostic.RCS1197.severity = error

# RCS1200: Call 'Enumerable.ThenBy' instead of 'Enumerable.OrderBy'
dotnet_diagnostic.RCS1200.severity = error

# RCS1222: Merge preprocessor directives
dotnet_diagnostic.RCS1222.severity = error

# RCS1233: Use short-circuiting operator
dotnet_diagnostic.RCS1233.severity = error

# RCS1235: Optimize method call
dotnet_diagnostic.RCS1235.severity = error

# SA1028: Code should not contain trailing whitespace
# Reason: Visual Studio Code does not respect trim_trailing_whitespace = true
dotnet_diagnostic.SA1028.severity = none

# RCS1037: Remove trailing white-space.
# Reason: Visual Studio Code does not respect trim_trailing_whitespace = true
dotnet_diagnostic.RCS1037.severity = none

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:error
dotnet_diagnostic.IDE0161.severity = error

# MA0006: Use string.Equals instead of Equals operator
dotnet_diagnostic.MA0006.severity = none

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = none

# CA1859: Change return type of method 'TransformOrderByItems' from 'System.Collections.Generic.IReadOnlyCollection<Hikkaba.Paging.Models.OrderByItem>' to 'System.Collections.ObjectModel.ReadOnlyCollection<Hikkaba.Paging.Models.OrderByItem>' for improved performance
dotnet_diagnostic.CA1859.severity = suggestion

# list of disallowed namespaces
dotnet_diagnostic.DC1001_NamespacePrefixes=-

# DC1004: A list of disallowed namespaces must be configured
dotnet_diagnostic.DC1004.severity = none
dotnet_diagnostic.DC1001.severity = none

# list of disallowed namespaces
dotnet_diagnostic.DC1001_NamespacePrefixes=-

# DC1004: A list of disallowed namespaces must be configured
dotnet_diagnostic.DC1004.severity = none
dotnet_diagnostic.DC1001.severity = none

# SS059: FileStream can be disposed of asynchronously
dotnet_diagnostic.SS059.severity = none

# IDE0008: Use explicit type instead of 'var'
dotnet_diagnostic.IDE0008.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0046: 'if' statement can be simplified
dotnet_diagnostic.IDE0046.severity = suggestion

# EnableGenerateDocumentationFile: Set MSBuild property 'GenerateDocumentationFile' to 'true' in project file to enable IDE0005
dotnet_diagnostic.EnableGenerateDocumentationFile.severity = none

# IDE0005: Using directive is unnecessary
dotnet_diagnostic.IDE0005.severity = suggestion

# CA1515: Because an application's API isn't typically referenced from outside the assembly, types can be made internal
dotnet_diagnostic.CA1515.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0305: Collection initialization can be simplified
dotnet_diagnostic.IDE0305.severity = suggestion

# IDE0300: Collection initialization can be simplified
dotnet_diagnostic.IDE0300.severity = suggestion

# IDE0301: Collection initialization can be simplified
dotnet_diagnostic.IDE0301.severity = suggestion

# IDE0200: Lambda expression can be removed
dotnet_diagnostic.IDE0200.severity = suggestion

# IDE0320: Make anonymous function static
dotnet_diagnostic.IDE0320.severity = suggestion
csharp_prefer_static_anonymous_function = true

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = suggestion

# IDE0270: Null check can be simplified
dotnet_diagnostic.IDE0270.severity = suggestion

# formatting rules
indent_size = 4
roslynator_binary_operator_new_line = before
roslynator_conditional_operator_new_line = before
roslynator_null_conditional_operator_new_line = before

# CS1998: Async method lacks 'await' operators and will run synchronously
# Reason: sometimes we need to have async mocks
dotnet_diagnostic.CS1998.severity = suggestion

# CA1707: Remove the underscores from member name
dotnet_diagnostic.CA1707.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# MA0004: Use Task.ConfigureAwait(false) as the current SynchronizationContext is not needed
dotnet_diagnostic.MA0004.severity = none

# VSTHRD200: Use "Async" suffix in names of methods that return an awaitable type
dotnet_diagnostic.VSTHRD200.severity = none

dotnet_diagnostic.DC1001.severity = none
dotnet_diagnostic.DC1002.severity = none
dotnet_diagnostic.DC1004.severity = none
