@model Hikkaba.Web.ViewModels.CategoriesViewModels.CategoryEditViewModel
@{
    ViewData["Title"] = "Create new category";
}

<form asp-controller="Categories" asp-action="Create" method="post" class="form-horizontal" enctype="multipart/form-data">
    <h4>@ViewData["Title"]</h4>
    <hr />
    
    @Html.EditorFor(model => model)
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
