@model Hikkaba.Web.ViewModels.CategoriesViewModels.SetModeratorsViewModel

@{
  var title = $"Select who moderates /{Model.CategoryAlias}";
  ViewData["Title"] = title;
}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-center m-3">@(title)</h2>

    <a class="decoration-on-hover" href="@Url.RouteUrl("CategoryIndex")">
      <i class="bi bi-chevron-left"></i> Back to categories
    </a>

    <hr/>

    <form asp-route="CategorySetModeratorsConfirm" asp-route-categoryAlias="@Model.CategoryAlias" method="post">
      @Html.ListBoxFor(
        m => m.ModeratorIds,
        Model.Users,
        new { @class = "form-select mb-3", size = "10" })

      <button type="submit" class="w-100 btn btn-primary btn-lg">Save</button>
    </form>
  </div>
</div>
