@model Hikkaba.Web.ViewModels.BansViewModels.BanViewModel
@{
    ViewData["Title"] = "Delete ban";
}

<form asp-route="BanDeleteConfirm" method="post" class="form-horizontal" enctype="multipart/form-data">
    <h4>@ViewData["Title"]</h4>
    <hr />

    @Html.DisplayFor(model => model.BannedCidrLowerIpAddress) - @Html.DisplayFor(model => model.BannedCidrUpperIpAddress)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Delete</button>
        </div>
    </div>
</form>
