@model Hikkaba.Web.ViewModels.PageInfoViewModel

<div class="container">
  <div class="parent-block d-flex justify-content-center align-items-center">
    <pager current-page="@Model.CurrentPageNumber" total-page="@Model.TotalPageCount" />
  </div>
</div>
