[*.cs]
# CA1515: Because an application's API isn't typically referenced from outside the assembly, types can be made internal
dotnet_diagnostic.CA1515.severity = none

# CA1034: Do not nest type InputModel. Alternatively, change its accessibility so that it is not externally visible.
dotnet_diagnostic.CA1034.severity = suggestion

# CA2227: Change 'CurrentLogins' to be read-only by removing the property setter
dotnet_diagnostic.CA2227.severity = suggestion

# CA1054: Change the type of parameter 'returnUrl' of method 'ExternalLoginModel.OnPost(string, [string])' from 'string' to 'System.Uri', or provide an overload to 'ExternalLoginModel.OnPost(string, [string])' that allows 'returnUrl' to be passed as a 'System.Uri' object
dotnet_diagnostic.CA1054.severity = suggestion
