<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\temp\internal-nlog.txt">

    <extensions>
        <!-- Enable asp.net core layout renderers -->
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets async="true">
        <target xsi:type="Null" name="blackHole" />

        <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
        <target name="LifetimeConsole"
                xsi:type="Console"
                layout="${level:truncate=4:tolower=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

        <target name="LogFile"
                xsi:type="File"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}; url = ${aspnet-request-url:IncludeQueryString=true}; ip = ${aspnet-request-ip:CheckForwardedForHeader=true}; controller = ${aspnet-mvc-controller}; action = ${aspnet-mvc-action}; method = ${aspnet-request-method}; logger = ${logger}; auth = ${aspnet-user-isauthenticated}; identity = ${aspnet-user-identity}; traceId = ${aspnet-TraceIdentifier}; eventId = ${event-properties:item=EventId}; workingMem = ${processinfo:property=WorkingSet64}; status = ${aspnet-response-statuscode}"
                fileName="${basedir}/logs/Log.current.txt"
                archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                archiveAboveSize="5242880"
                maxArchiveFiles="9" />

        <target name="Console"
                xsi:type="Console"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}; url = ${aspnet-request-url:IncludeQueryString=true}; ip = ${aspnet-request-ip:CheckForwardedForHeader=true}; controller = ${aspnet-mvc-controller}; action = ${aspnet-mvc-action}; method = ${aspnet-request-method}; logger = ${logger}; auth = ${aspnet-user-isauthenticated}; identity = ${aspnet-user-identity}; traceId = ${aspnet-TraceIdentifier}; eventId = ${event-properties:item=EventId}; workingMem = ${processinfo:property=WorkingSet64}; status = ${aspnet-response-statuscode}" />

        <target name="ColoredConsole"
                xsi:type="ColoredConsole"
                encoding="utf-8"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}; url = ${aspnet-request-url:IncludeQueryString=true}; ip = ${aspnet-request-ip:CheckForwardedForHeader=true}; controller = ${aspnet-mvc-controller}; action = ${aspnet-mvc-action}; method = ${aspnet-request-method}; logger = ${logger}; auth = ${aspnet-user-isauthenticated}; identity = ${aspnet-user-identity}; traceId = ${aspnet-TraceIdentifier}; eventId = ${event-properties:item=EventId}; workingMem = ${processinfo:property=WorkingSet64}; status = ${aspnet-response-statuscode}"
                useDefaultRowHighlightingRules="true">
        </target>
    </targets>

    <rules>
        <!-- Microsoft.EntityFrameworkCore.Database.Command: INFO Executed DbCommand eventId = 20101 -->

        <logger ruleName="AllToFile" name="*" minlevel="Info" writeTo="LogFile">
            <filters defaultAction="Log">
                <when condition="starts-with(logger,'Microsoft.') and not equals('${event-properties:item=EventId}',20101) and level &lt; LogLevel.Warn" action="Ignore" />
            </filters>
        </logger>

        <logger ruleName="AllToConsole" name="*" minlevel="Info" writeTo="ColoredConsole">
            <filters defaultAction="Log">
                <when condition="starts-with(logger,'Microsoft.') and not equals('${event-properties:item=EventId}',20101) and level &lt; LogLevel.Warn" action="Ignore" />
            </filters>
        </logger>

        <!--Output hosting lifetime messages to make Docker / Visual Studio happy (see https://github.com/NLog/NLog.Web/wiki/Hosting-Lifetime-Startup-Messages) -->
        <logger ruleName="MicrosoftHostingLifetimeToConsole" name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="LifetimeConsole" final="true" />
    </rules>
</nlog>
