<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\temp\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
            name="all-sources-file"
            fileName="D:\home\LogFiles\nlog\all_sources\current.log"
            archiveFileName="D:\home\LogFiles\nlog\all_sources\archive\log.${shortdate}.{#}.txt"
            layout="${longdate} | ${event-properties:item=EventId.Id} | ${logger} | ${uppercase:${level}} | ${message} | ${exception}"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="1"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="File"
            name="own-sources-file"
            fileName="D:\home\LogFiles\nlog\own_sources\current.log"
            archiveFileName="D:\home\LogFiles\nlog\own_sources\archive\log.${shortdate}.{#}.txt"
            layout="${longdate} | ${event-properties:item=EventId.Id} | ${logger} | ${uppercase:${level}} | ${message} | ${exception}"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="1"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="all-sources-file" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="own-sources-file" />
  </rules>
</nlog>