<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\temp\internal-nlog.txt">

  <extensions>
    <!-- Enable asp.net core layout renderers -->
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <!--Output hosting lifetime messages to make Docker / Visual Studio happy (see https://github.com/NLog/NLog.Web/wiki/Hosting-Lifetime-Startup-Messages) -->
    <target name="lifetimeConsole" xsi:type="Console"
        layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}" />

    <target name="logfile" xsi:type="File"
        layout="${longdate} | ${event-properties:item=EventId.Id} | ${logger} | ${uppercase:${level}} | ${message} | ${exception} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}"
        fileName="${basedir}/logs/Log.current.txt"
        archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyyMMdd"
        archiveAboveSize="5242880"
        maxArchiveFiles="9" />

    <target name="consoleout" xsi:type="Console"
        layout="${longdate} | ${event-properties:item=EventId.Id} | ${logger} | ${uppercase:${level}} | ${message} | ${exception} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <!--Output hosting lifetime messages to make Docker / Visual Studio happy (see https://github.com/NLog/NLog.Web/wiki/Hosting-Lifetime-Startup-Messages) -->
    <logger ruleName="MicrosoftHostingLifetimeToConsole" name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="lifetimeConsole" final="true" />

    <!-- Edit GetModifiedConfiguration() method to change minlevel -->
    <logger ruleName="AllToConsole" name="*" minlevel="Trace" writeTo="consoleout" />
    <logger ruleName="AllToFile" name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>